{% extends "header.html.j2" %}
{% block page_name %}Schüler{% endblock %}
{% block content %}
    <form method="post">
        <p>Vorname: {% if user_data %}{{ user_data["account"]["name"] }}{% endif %}</p>
        <p>Nachname: {% if user_data %}{{ user_data["account"]["last_name"] }}{% endif %}</p>
        <p>Benutzername: {% if user_data %}{{ user_data["account"]["username"] }}{% endif %}</p>
        <p>Geburtstag: {% if user_data %}{{ user_data["account"]["birthday"] }}{% endif %}</p>
        <label for="class">
            <p>Klasse:
                <select name="class" id="class">
                    {% for class in classes %}
                        <option value="{{ class["id"] }}" {% if user_data and user_data["school_class_id"] == class["id"] %}selected{% endif %}>{{ class["class_name"] }}</option>
                    {% endfor %}
                </select>
            </p>
        </label>
        <input type="hidden" name="id" value="{% if user_data %}{{ user_data["account"]["id"] }}{% endif %}">
        <input type="hidden" name="method" value="{% if user_data %}modify{% else %}new{% endif %}">
        <input type="submit" name="save" value="Speichern">
        <a href="{{ url_for('students') }}">Abbrechen</a>
    </form>
{% endblock %}