{% extends "bases/header.html.j2" %}
{% block page_name %}Home{% endblock %}
{% block content %}
    <style>
    .link {
            display: block;
            margin: 10px 10px 10px 10px;
            padding: 10px;
            background-color: #40a4b6;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s ease;
    }
    </style>
    <div id="login" class="container">
        <a class="link" href="/students">Schüler</a>
        <a class="link" href="/teachers">Lehrer</a>
        <a class="link" href="/classes">Klassen</a>
        <a class="link" href="/logout">Abmelden</a>
    </div>
{% endblock %}