{% extends "header.html.j2" %}
{% block page_name %}Home{% endblock %}
{% block content %}
    <p>Hello, World!</p>
    <a href="/students">Schüler</a>
    <a href="/logout">Abmelden</a>
{% endblock %}