{% extends "header.html" %}
{% block page_name %}Login{% endblock %}
{% block content %}
    {% if data_incorrect %}
    	<p style="color: red">Benutzername oder Password ist falsch.</p>
    {% endif %}
    <form method="post">
        <label>
            <p>Benutzername</p>
            <input name="username" placeholder="Benutzername" type="text" required>
        </label>
        <label>
            <p>Passwort</p>
            <input name="password" placeholder="Password" type="password" required>
        </label>
        <br>
        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock %}