{% extends "bases/header.html.j2" %}
{% block page_name %}Abmelden{% endblock %}
{% block content %}
    Du wurdest erfolgreich abgemeldet.
    <a href={{ url_for("login") }}>Anmelden</a>
{% endblock %}