{% extends "header.html.j2" %}
{% block page_name %}Schüler{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test1</td>
                <td>Test2</td>
                <td>Test3</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="id" value="Test1">
                        <input type="submit" name="change" value="Ändern">
                        <input type="submit" name="delete" value="Löschen">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <input type="submit" name="new" value="+">
    </form>
{% endblock %}