{% extends "bases/header.html.j2" %}
{% block page_name %}Home{% endblock %}
{% block content %}
    <header>
        <nav id="navbar">
            <a href="/home">Home</a>
            <a href="/students">Schüler</a>
            <a href="/teachers">Lehrer</a>
            <a href="/classes">Klassen</a>
            <a href="/logout">Abmelden</a>
        </nav>
    </header>
    teachers
{% endblock %}